<nav class="navbar navbar-expand-md bg-purple navbar-dark">
  <a routerLink="/user/1" class="navbar-brand" href="#"><multilang-logo  [navbar]="true"></multilang-logo></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink='learning'>Learing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='resources'>Resources</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/signin" class="nav-link">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
