<div class="card bg-dark text-white w-50" (click)="onCardClicked()">
  <div class="card-body w-100 d-flex justify-content-center align-items-center">
    <div [@cardFlip]="data.state" class="row d-flex justify-content-center align-items-center">
      <div class="col-12">
        <app-flashcard-front [hidden]="data.state !== 'default'"
                             [keyWord]="flashcards[currentFlashcardIdx]?.keyWord"></app-flashcard-front>
        <app-flashcard-back [hidden]="data.state === 'default'"
                            [keyWordTranslation]="flashcards[currentFlashcardIdx]?.translation"></app-flashcard-back>
      </div>
    </div>
  </div>
</div>
