/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeng/resources/themes/saga-blue/theme.css';
@import '../node_modules/primeicons/primeicons.css';

$primary-color: #560f9eeb;
$secondary-color: #90EE02;

//
//body {
//  background-color: $secondary-color;
//}


.form-wrapper {
  margin-top: 15vh;
  padding: 25px 10px;
  width: 350px;
  min-height: 600px;
  background-color: ghostwhite;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  @media only screen and (max-width: 600px) {
    margin: 5vh auto;
  }
}

.sign-action {
  transition: 0.1s;

  &:hover {
    cursor: pointer;
    color: $secondary-color;
  }
}

.btn-primary {
  color: white;
  border-color: $primary-color;
  background-color: $primary-color;

  &:hover {
    color: white;
    border-color: darken($primary-color, 5%);
    background-color: darken($primary-color, 5%);
  }
}

.bg-purple {
  background-color: #560f9eeb !important;
}

.front {
  transform: rotateY(180deg);
}
