.left-side-bar {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  transition: 0.5s;
  height: 100%;
  width: 20%;
  background-color: whitesmoke;
  box-shadow: 5px -1px 5px -2px #888;
  z-index: 1001;

  @media only screen and (max-width: 600px) {
    width: 50%;
  }

  .left-side-bar-top-bar {
    height: 40px;
    width: 100%;
    background-color: #4e4e4e;

    .left-side-bar__close {
      width: 10%;
      height: 100%;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: 600px) {
        width: 20%;
      }

      .left-side-bar__close-icon {
        margin: auto;
        color: white;
      }
    }

    .left-side-bar-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-y: scroll;

    }
  }

}

.left-side-bar__hide {
  transition: 0.5s;
  transform: translateX(-90%);
  @media only screen and (max-width: 600px) {
    transform: translateX(-80%);
  }
}
