<div [ngClass]="displaySideBar ? 'left-side-bar' : ['left-side-bar', 'left-side-bar__hide']">
  <div class="left-side-bar-top-bar">
  <span appCursorPointer (click)="onClick()" class="left-side-bar__close">
    <i [class]="displaySideBar ? ['pi', 'pi-chevron-left', 'left-side-bar__close-icon']:['pi', 'pi-bars', 'left-side-bar__close-icon']"></i>
  </span>
  </div>
  <div class="left-side-bar-content">
    <app-side-bar-content (categorySelected)="onCategorySelected($event)"></app-side-bar-content>
  </div>
</div>
