<app-side-bar (categoryReceived)="onCategoryReceived($event)"></app-side-bar>
<div *ngIf="isCategorySelected; else selectCategory" class="container w-100 border border-secondary">
  <div class="row text-center">
    <div class="col-12"><h1>{{selectedCategory}}</h1></div>
  </div>
  <div class="col-12 d-flex justify-content-center align-items-center">
    <app-flashcard
      (flashcardsReceived)="onFlashcardsReceived($event)"
      [currentFlashcardIdx]="idx">
    </app-flashcard>
  </div>
  <div class="col-12 d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col-4">
        <button [disabled]="idx <= 0" (click)="selectAdjacentFlashcard('previous')" pButton iconPos="top" icon="pi pi-chevron-circle-left" pRipple type="button" class="p-button-text"></button>
      </div>
      <div class="col-4">
        <app-text-to-speech-button [language]="language"></app-text-to-speech-button>
      </div>
      <div class="col-4">
        <button [disabled]="idx == flashcards.length - 1" (click)="selectAdjacentFlashcard('next')" pButton iconPos="top" icon="pi pi-chevron-circle-right" pRipple type="button" class="p-button-text"></button>
      </div>
    </div>
  </div>
</div>
<ng-template #selectCategory >
  <div class="text-center"><h3>Select category!</h3></div>
</ng-template>
