<div class="container card form-wrapper h-100">
  <multilang-logo></multilang-logo>
  <form [formGroup]="signInForm" class="justify-content-center my-auto align-items-center h-100" (submit)="onSubmit()">
    <div class="row">

      <div class="col-12 d-flex justify-content-center align-items-center mb-1 input-group">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
          <input type="email"
                 class="form-control"
                 name="email"
                 formControlName="email"
                 placeholder="example@mail.com"
                 autocomplete="on"
                 pInputText>
        </div>

      </div>
      <div class="col-12 d-flex justify-content-center align-items-center mb-1">
        <div class="input-group">
          <span appCursorPointer (click)="changePasswordInputType()" class="p-inputgroup-addon"><i [class]="showPassword ? 'pi pi-eye-slash': 'pi pi-eye'"></i></span>
          <input [type]="showPassword ? 'text' : 'password'"
                 class="form-control"
                 name="password"
                 formControlName="password"
                 placeholder="Password"
                 autocomplete="on"
                 pInputText></div>
      </div>
    </div>
    <button routerLink="/user/1" class="btn btn-primary btn-block mt-4">Submit</button>
    <p class="text-center"><span>Don't have an account? <span routerLink="/signup"
                                                              class="sign-action">Sign Up</span></span></p>
  </form>
</div>
